version: '3.8'

services:
  backend-server:
    build: .
    container_name: revit-backend-server
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=production
      - PORT=3002
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./:/app
      - /app/node_modules
